In [1]:
import numpy as np
import pandas as pd
import FINITO
from FINITO import MEF1D

In [2]:
TRUSS_01 = {
  "TYPE_ELEMENT": 0,
  "TYPE_SOLUTION": 0,
  "N_NODES": 3,
  "N_MATERIALS": 3,
  "N_SECTIONS": 3,
  "N_ELEMENTS": 3,
  "N_DISPLACEMENTS": 3,
  "N_ELEMENTSLOADED": 0,
  "N_NODESLOADED": 1,
  "N_SPRINGS": 0,
  "COORDINATES": 
  np.array([[0.0, 0.0],
    [2.0, 0.0],
    [0.0, 2.0]]),
  "ELEMENTS": 
  np.array([[0, 1, 0, 0, 1, 1],
    [1, 2, 1, 1, 1, 1],
    [0, 2, 2, 2, 1, 1]]),
  "MATERIALS": 
  np.array([[2.050E8,0.3,78600,0.000012],
    [2.050E8,0.3,78600,0.000012],
    [2.050E8,0.3,78600,0.000012]]),
  "SECTIONS": 
  np.array([[0.0079,0.000005,0.000005,0.05,0.05],
    [0.0079,0.000005,0.000005,0.05,0.05],
    [0.0079,0.000005,0.000005,0.05,0.05]]),
  "PRESCRIBED DISPLACEMENTS": 
  np.array([[0,0,0],
    [0,1,0],
    [2,0,0]]),
  "ELEMENT LOADS": None,
  "NODAL LOADS": 
  np.array([[1,1,-100]]),
  "SPRINGS": None}

In [3]:
RESULTS = MEF1D(DICTIONARY = TRUSS_01)

In [8]:
RESULTS_BAR_0 = pd.DataFrame(data=RESULTS[2])
RESULTS_BAR_0.head(50)

      X      UX           UY      UZ      N    V    M  ID_ELEMENT
0   0.0     0.0     0.000000     0.0 -100.0  0.0  0.0           2
1   0.2 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
2   0.4 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
3   0.6 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
4   0.8 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
5   1.0 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
6   1.2 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
7   1.4 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
8   1.6 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
9   1.8 -1989.0 -1989.000000 -1989.0 -100.0  0.0  0.0           2
10  2.0     0.0    -0.000123     0.0 -100.0  0.0  0.0           2

In [5]:
Δ = RESULTS_BAR_0.iloc[2]
Δ.head()

X        0.4
UX   -1989.0
UY   -1989.0
UZ   -1989.0
N     -100.0
Name: 2, dtype: float64

In [12]:
print(Δ['X'])

0.4

In [11]:
print(450 / 8)

56.25