## 1.0 - Install and import library

In [1]:
from FINITO_FEM_TOOLBOX import *

## 2.0 - Run FINITO framework ```.txt``` file

In [2]:
TRUSS_00_RESULTS = MEF1D(FILENAME = 'TRUSS_00.txt')

View results about **0** element

## 3.0 - View results in command line

In [8]:
TRUSS_00_BAR_0 = TRUSS_00_RESULTS[1] 
TRUSS_00_BAR_0

{'X': array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ]),
 'UX': array([ 1.04166667e-06, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03,  1.83660450e-12]),
 'UY': array([-3.01639467e-06, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03,  1.06312942e-12]),
 'UZ': array([-8.29342168e-19, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
        -1.98900000e+03, -1.98900000e+03,  4.38916226e-20]),
 'N': array([-4166.65932025, -4166.65932025, -4166.65932025, -4166.65932025,
        -4166.65932025, -4166.65932025, -4166.65932025, -4166.65932025,
        -4166.65932025, -4166.65932025, -4166.65932025]),
 'V': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'M': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'ID_ELEMENT': 1}

### 3.1 - View ```axial``` internal load

In [4]:
TRUSS_00_BAR_0['N']

array([4166.66666667, 4166.66666667, 4166.66666667, 4166.66666667,
       4166.66666667, 4166.66666667, 4166.66666667, 4166.66666667,
       4166.66666667, 4166.66666667, 4166.66666667])

- ```TRUSS_00_BAR_0['N'][0]``` - First DIV or 0 Node in 0 Element;
- ```TRUSS_00_BAR_0['N'][10]``` - Last DIV or 1 Node in 0 Element.

### 3.1 - Interesting view ```axial``` internal load using ```pandas``` framework

In [5]:
import pandas as pd
TRUSS_00_BAR_0 = pd.DataFrame(data = TRUSS_00_BAR_0)
TRUSS_00_BAR_0.head(50)

,X,UX,UY,UZ,N,V,M,ID_ELEMENT
0,0.0,0.000000,0.000000,0.000000e+00,4166.666667,0.0,0.0,0
1,0.2,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
2,0.4,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
3,0.6,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
4,0.8,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
5,1.0,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
6,1.2,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
7,1.4,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
8,1.6,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
9,1.8,-1989.000000,-1989.000000,-1.989000e+03,4166.666667,0.0,0.0,0
10,2.0,0.000001,-0.000003,-8.293422e-19,4166.666667,0.0,0.0,0

Using ```.loc``` to view results in third (ID = 2) DIV.

In [6]:
TEST = TRUSS_00_BAR_0.loc[2]
TEST

X                0.400000
UX           -1989.000000
UY           -1989.000000
UZ           -1989.000000
N             4166.666667
V                0.000000
M                0.000000
ID_ELEMENT       0.000000
Name: 2, dtype: float64

View ```axial``` internal load in third (ID = 2) DIV

In [7]:
TEST[4]

4166.666666666673